@mixin centrarConMargin {
      margin: auto;
}

@mixin centrarConFlexboxRow ($isWrap:wrap) {
      display: flex;
      flex-direction: row;
      flex-wrap: $isWrap;
      justify-content: center;
      align-items: center;
}

@mixin centrarConFlexboxColumn ($isWrap:wrap) {
      display: flex;
      flex-direction: column;
      flex-wrap: $isWrap;
      justify-content: center;
      align-items: center;
}

@mixin formatoTituloContacto {
      font-family: $fontFamily2;
      font-size: 1.5rem;
      font-weight: 600;
}

@mixin formatoSubtituloContacto {
      font-weight: 400;
      font-style: italic;
}