$color1: #09416c;
$color2: #FDFFFC;
$color3: #17f7f7;
$color4: #E71D36;
$color5: #FF9F1C;
$color6:rgb(13, 212, 13);
$background:#f2f2f2;

/*COLORES NAVBAR*/
$color_NavBar:#17f7f7;
$color_letra_navBar:rgb(69, 69, 231);
$color_titulo_logo:#FDFFFC;


$fontFamily1:'Covered By Your Grace', cursive;
$fontFamily2:'Yanone Kaffeesatz', sans-serif;
$fontFamily3:'Montserrat', sans-serif;

/*------INDEX------*/
$small-space: 0.5rem;
$space: 1rem;
$large-space: 1.2rem;

/*-------------BREAKPOINTS----------------------*/
$device-xxs: 360px;
$device-xs: 480px;
$device-sm: 576px;
$device-md: 768px;
$device-lg: 992px;
$device-xl: 1200px;
$device-xxl: 1400px;

$contenedor-mini: 303px;
$contenedor-xxs: 340px;
$contenedor-xs: 460px;
$contenedor-sm: 540px;
$contenedor-md: 720px;
$contenedor-lg: 960px;
$contenedor-xl: 1140px;
$contenedor-xxl: 1320px;

/*----------FONTS---------*/

$font-xxs: 0.8rem;
$font-xs: 0rem;
$font-sm: 1rem;
$font-md: 0rem;
$font-lg: 0rem;
$font-xl: 0rem;
$font-xxl: 0rem;

$font-slogan-xxs: 1.5rem;
$font-slogan-xs: 0rem;//falta ajustar
$font-slogan-sm: 0rem;//falta ajustar
$font-slogan-md: 0rem;//falta ajustar
$font-slogan-lg: 0rem;//falta ajustar
$font-slogan-xl: 0rem;//falta ajustar
$font-slogan-xxl: 0rem;

$font-card-title-xxs: 1.5rem;
$font-card-title-xs: 0rem;
$font-card-title-sm: 0rem;
$font-card-title-md: 0rem;
$font-card-title-lg: 0rem;
$font-card-title-xl: 0rem;
$font-card-title-xxl: 0rem;

$font-formulario-xxs: 1rem;
$font-formulario-xs: 0rem;
$font-formulario-sm: 0rem;
$font-formulario-md: 0rem;
$font-formulario-lg: 0rem;
$font-formulario-xl: 0rem;
$font-formulario-xxl: 0rem;

$s-font: 0.8rem;
$sm-font: 1rem;
$font: 1rem;
$l-font: 2rem;



$borde:2px;

$s-title-font:1rem;
$xs-title-font:1.3rem;
$sm-title-font:1.4rem;
$md-title-font:1.6rem;
$lg-title-font:1.8rem;
$xl-title-font:2rem;
$xxl-title-font:2.2rem;


$xs-icono:2.5rem;
$sm-icono:2.8rem;
$md-icono:3rem;
$lg-icono: 3.3rem;
$xl-icono: 3.6rem;
$xxl-icono: 3.8rem;
$icono-nav-xxl:4rem;





