.contenedorActividad {

      .actividad {
            .actividad__descripcion {
                  line-height: 1.7;
                  height: 92%;
                  font-size: $font-lg;
            }
      }
}