.donaciones {
      .card {
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a9e4f7+0,0fb4e7+100&0.49+0,1+100;Ble+3D+%235 */
            background: -moz-linear-gradient(top, rgba(169, 228, 247, 0.49) 0%, rgba(15, 180, 231, 1) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(169, 228, 247, 0.49) 0%, rgba(15, 180, 231, 1) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(169, 228, 247, 0.49) 0%, rgba(15, 180, 231, 1) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7da9e4f7', endColorstr='#0fb4e7', GradientType=0);
            /* IE6-9 */
            padding-top: 20px;


            &.col-md-4 {
                  flex: 0 0 auto;
                  width: 32.333333%;
                  margin: 0 auto;
            }

            .card-body {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;


                  .card-title {
                        color: white;
                        text-shadow: 0px 0px 4px $color1;
                        font-family: $fontFamily2;
                  }

                  .card-text {
                        text-align: center;
                        color: white;
                        text-shadow: 0px 0px 4px $color1;
                        font-size: $s-font;
                  }
            }
      }
}