.footer {
      .contenedorFooter {
            max-width: $contenedor_lg;
            .redesSociales {
                  margin: $space;
                  .redesSociales__elementos {
                        .redesSociales__item {
                              margin: 0 $small-space;
                              .enlace__item {
                                    .enlace__icono {
                                          font-size: 60px;
                                    }
                              }
                        }
                  }
            }
      }
}