.contenedorActividad {

      .actividad {
            .actividad__descripcion {
                  overflow-y: none;
                  line-height: 1.5;
                  height: 92.5%;
            }
      }
}