.cardInfo {
      .cardInfo__elementos {
            background-color: $background;
            border-radius: .5rem;
            text-align: center;

            .cardInfo__titulo {
                  font-family: $fontFamily2;
                  border-bottom: 1px solid $color5;
                  
            }

            .cardInfo__informacion{
                  background: $background;
                  font-size: $font;
            }
      }
}