.multimedia {
      .multimedia__contenedor {
            width: 90%;
            padding-bottom: 62%;

            .multimedia__video {
                  width: 100%;
                  height: 100%;
            }
      }
}